@use "../../../scss/globals/functions" as *;

.applications {
    margin-top: em(50px);

    @media screen and (max-width: 1000px) {
        padding: 0 4%;
    }

    &__wrapper {
        position: relative;
        max-width: var(--max-width-section);
        margin: auto;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text-color-gray);

        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
            gap: em(16px);
        }

        .breadcrumbs {
            @media screen and (max-width: 640px) {
                overflow-x: auto;
                overflow-y: hidden;
                width: 100%;
            }

            .breadcrumb + .breadcrumb:before {
                content: "/";
                padding: 6.5px;
                color: var(--text-color-gray);
            }

            .breadcrumb {
                position: relative;
                font-size: rem(18px);
                font-weight: 600;
                cursor: pointer;
                font-family: var(--font-heading);

                @media screen and (max-width: 640px) {
                }

                &.active {
                    color: var(--primary);
                }

                &:hover {
                    color: var(--primary);
                }
            }
        }

        .control {
            display: flex;
            gap: 10px;

            .icon {
                width: 15px;
                height: 15px;
                cursor: pointer;

                &.active {
                    color: var(--primary);
                }
            }
        }
    }

    &__main {
        position: relative;
        height: 100%;
        margin-top: em(50px);
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: (minmax(220px, 1fr));

        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }

        &.list {
            display: flex;
            flex-direction: column;
        }
    }

    .loading {
        position: absolute;
        left: 50%;
        bottom: em(-29px);
        transform: translateX(-50%) !important;
    }

    .error {
        position: absolute;
        left: 0;
        bottom: em(-28px);
        display: block;
        color: var(--text-color-gray);
        font-size: rem(16px);
        margin-top: em(20px);
    }
}
