@use "../../globals/functions" as *;

.services {
    margin-top: em(50px);

    &__wrapper {
        max-width: var(--max-width-section);
        margin: auto;

        @media screen and (max-width: 1000px) {
            padding: 0 4%;
        }
    }

    &__heading {
        font-size: rem(24px);
        font-weight: 600;
        color: var(--gray);
        margin-bottom: rem(30px);
    }

    &__categories {
        background-color: #efefef;

        &-wrapper {
            max-width: var(--max-width-section);
            margin: auto;
            display: flex;
        }

        .category {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 240px;
            height: 200px;
            cursor: pointer;
            color: var(--gray);
            transition: 0.2s ease-in-out;

            @media screen and (max-width: 670px) {
                height: 140px !important;

                .icon {
                    margin-bottom: 0 !important;
                }

                .title {
                    display: none !important;
                }
            }

            &:hover,
            &.active {
                background-color: var(--light-gray);
                color: var(--dark-gray);
            }

            .icon {
                width: 50px;
                height: 50px;
                margin-bottom: rem(30px);

                @media screen and (max-width: 400px) {
                    width: 40px !important;
                    height: 40px !important;
                }
            }

            .title {
                font-size: rem(18px);
            }
        }
    }

    &__list {
        min-height: 100px;
    }

    &__paragraph,
    &__list {
        font-weight: 400;
        color: var(--text-color-gray);
        font-size: rem(14px);
    }

    &__paragraph {
        margin-top: rem(30px);
    }

    &__list {
        list-style: none;
        margin-top: em(30px);

        .list-element {
            position: relative;
            margin: 10px em(36px) 12px;

            &:first-child {
                margin: 0 em(36px) 0;
            }

            &:before {
                content: "";
                position: absolute;
                border-right: 3px solid var(--dark-gray);
                border-bottom: 3px solid var(--dark-gray);
                width: 4px;
                height: 4px;
                top: calc(50%);
                left: -14px;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
}
