@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondNormal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondUltraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondUltraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondBook.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondDemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-CondBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento Normal";
    src: url("../../assets/fonts/Novecento-NarrowNormal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowUltBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowUltLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-Normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-UltraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowBook.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-NarrowDemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-WideLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-WideDemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-UltraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento Normal";
    src: url("../../assets/fonts/Novecento-WideNormal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-WideBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-WideMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Novecento";
    src: url("../../assets/fonts/Novecento-WideBook.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueThin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueHeavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueBlackCond.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueRegular.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../assets/fonts/HelveticaNeueLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
